<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link th:href="@{/css/bootstrap.css}" rel="styleSheet" type="text/css">
    <link rel="icon" href="/favicon.ico" />
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">サンプルデータ取得</a>
            <a th:href="@{/retry}" class="btn btn-primary">商品一覧取得</a>
        </div>
        <p th:text="${#calendars.format(#calendars.createNowForTimeZone('JST'), 'yyyy/MM/dd HH:mm')}"></p>
    </nav>

    <div class="container">
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>説明</th>
                    <th>価格</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}" th:object="${item}" class="align-middle">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{detail}"></td>
                    <td th:text="*{price}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>